.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 500px;
}

.App-header {
  background-color: rgba(19, 18, 18, 0.93);
  height: 670px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotateY()(0deg); }
  to { transform: rotateY(360deg); }
}
